<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPgObvBblvlogPZ8MHZc7KY8EqYXBTsz4</string>
	<key>GCM_SENDER_ID</key>
	<string>354591886485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spacex.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messagenoti-c61df</string>
	<key>STORAGE_BUCKET</key>
	<string>messagenoti-c61df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354591886485:ios:0f50ede78b1c2a0f601f9c</string>
</dict>
</plist>